{{> events-info event }}
 <!--Leaflet Div-->
      <div id="mapid"></div>

  <script>
    var mymap = L.map('mapid').setView([30.2672, -97.7431], 13);

    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1Ijoia2F0eW5pY29sZTg5IiwiYSI6ImNrdWZ1Y3U4NTF4d20zMnE2cHg4ZXlvbjMifQ.gPzb838kgasGqX8geNXo2g'
}).addTo(mymap);
  </script>
{{#if loggedIn}}
<form class="interest-form">
  <div>
    <button type="button" class="attend-btn">attending</button>
    <button type="button" class="interest-btn">interested</button>
  </div>
</form>
{{/if}}
{{#if loggedIn}}
<script src="/javascript/attending.js"></script>
<script src="/javascript/interested.js"></script>
{{/if}}