:root {
--green: #83C188;
--blue: #839DC1;
--purple: #8883C1;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--purple);
}

header {
    font-family: 'Abril Fatface', cursive;
}

#mapid { height: 180px; }
